# Python
__pycache__/
*.pyc
venv/
backend/venv/

# Env / secrets
.env
backend/firebase_admin_key.json
backend/credentials/gcloud-sa.json
backend/keys/gcloud-sa.json

# uploads
backend/uploads/

# IDE
.vscode/
.idea/
